################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectFile/CopilotIndices/17.14.1368.60722/CodeChunks.db
/.vs/ProjectFile/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
